<h2>On</h2>

<code>event.on(el, event, fn);</code>

<div>
    <p>You can listen for standard and custom (non-jQuery) JS events</p>
    <p class="">
        <a id="css-demo-event-on" href="#"> This hasn't been clicked. click here to update</a>
    </p>
</div>

<script>
    var elOn = document.getElementById('css-demo-event-on');

    window.updateEventOn = function(){
        elOn.innerHTML = 'This has been clicked already.';
    };

    skyComponents.event.on(elOn,'click',window.updateEventOn);
</script>